<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Dentistry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DentistryRLEntities" connectionString="metadata=res://*/Entities.BaseModel.csdl|res://*/Entities.BaseModel.ssdl|res://*/Entities.BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=K20-8\SQLEXPRESS;initial catalog=DentistryRL;user id=sa;password=111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DentistryRLEntitiesCollege" connectionString="metadata=res://*/Entities..csdl|res://*/Entities..ssdl|res://*/Entities..msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=K20-8\SQLEXPRESS;initial catalog=DentistryRL;user id=sa;password=111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DentistRLEntities" connectionString="metadata=res://*/Entities.BaseModel.csdl|res://*/Entities.BaseModel.ssdl|res://*/Entities.BaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=K20-9\SQLEXPRESS;initial catalog=DentistryRL;user id=sa;password=111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DentistryRLEntitiesss" connectionString="metadata=res://*/Entities.Hmodel.csdl|res://*/Entities.Hmodel.ssdl|res://*/Entities.Hmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GRK9KE1\SQLEXPRESS;initial catalog=DentistryRL;user id=sa;password=111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DentistryRLEntities1" connectionString="metadata=res://*/Entities.Model1.csdl|res://*/Entities.Model1.ssdl|res://*/Entities.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GRK9KE1\SQLEXPRESS;initial catalog=DentistryRL;user id=sa;password=111;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <Dentistry.Properties.Settings>
      <setting name="UserID" serializeAs="String">
        <value>0</value>
      </setting>
    </Dentistry.Properties.Settings>
  </userSettings>
</configuration>